<div class="text-layout">
    <h1>{{nombre | titlecase}}</h1>
    <h1>{{valor | number}}</h1>
    <h1>{{obj | json}}</h1>
</div>



<button pButton icon="pi pi-check" iconPos="left" class="p-button-help"
        (click)="mostrarNombre()"
        label="Cambiar Nombre" icon="pi pi-check" iconPos="left"
        ></button>


  <p-card [header]="nombre | titlecase"
          subheader="Esto es un subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vero voluptate autem rem id error praesentium obcaecati iure fugiat pariatur atque veniam, quia modi voluptatum dolorum odio. Omnis, ad mollitia.
  </p-card>
     