

html, body {
    margin: 10px;
    background-color: var(--surface-b);
    font-family: var(--font-family);

}

.text-layout {
    color: var(--text-color);
}

.ejmbutton {
    background: #c278ce;
        color: #121212;
        border-color: #c278ce;
}

